absl-py==0.4.0
astor==0.7.1
certifi==2018.8.24
chardet==3.0.4
click==6.7
enum34==1.1.6
gast==0.2.0
grpcio==1.14.1
h5py==2.8.0
idna==2.6
Keras==2.0.8
Markdown==2.6.11
numpy==1.14.5
plaidbench==0.3.2
plaidml==0.3.4
plaidml-keras==0.3.4
protobuf==3.6.1
PyYAML==3.13
requests==2.18.4
scipy==1.1.0
six==1.11.0
tensorboard==1.10.0
tensorflow==1.10.0
termcolor==1.1.0
urllib3==1.22
Werkzeug==0.14.1
